<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012465330498-52elf4so9fv5o4vo9j4iskhaeodf877o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012465330498-52elf4so9fv5o4vo9j4iskhaeodf877o</string>
	<key>API_KEY</key>
	<string>AIzaSyDg_cc_1btlsWaP57594LzBX8hjjFzQwCw</string>
	<key>GCM_SENDER_ID</key>
	<string>1012465330498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Refa3y.BreakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-fb64b</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-fb64b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012465330498:ios:5717fee36d5b8c573400db</string>
</dict>
</plist>